https://worldroadstatistics.org/wrs-data/data/

Area of analysis: is Ireland a country heavely dependent on public transportation or not?

# Data loading

In [7]:
import pandas as pd

df_2021 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2021.csv")
df_2020 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2020.csv")
df_2019 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2019.csv")
df_2018 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2018.csv")
df_2017 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2017.csv")
df_2016 = pd.read_csv("../Data/total-four-wheeled-traffic-(by-vehicle-type)---2016.csv")

In [11]:
df_2021["Year"] = 2021 
df_2020["Year"] = 2020
df_2019["Year"] = 2019
df_2018["Year"] = 2018
df_2017["Year"] = 2017
df_2016["Year"] = 2016

In [14]:
df = pd.concat([df_2021,df_2020,df_2019,df_2018,df_2017,df_2016])

# Descriptive Statistics

In [21]:
# Display the first 5 rows of df
df.head()

,Category,Passenger Car Traffic,Bus and Motor Coach Traffic,"Total Van, Pickup, Lorry and Road Tractor Traffic",Total four wheeled Traffic,Year
0,Austria,60721.0,390.0,13810.0,74921.0,2021
1,Belarus,244.0,324.0,935.0,1503.0,2021
2,Bulgaria,NaN,353.0,2757.0,3110.0,2021
3,Croatia,19780.0,240.0,3170.0,23190.0,2021
4,Denmark,40313.0,624.0,9257.0,50194.0,2021

In [22]:
# Dysplay the shape of our dataset
df.shape

(188, 6)

In [23]:
# Display data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 30
Data columns (total 6 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Category                                           188 non-null    object
 1   Passenger Car Traffic                              152 non-null    float64
 2   Bus and Motor Coach Traffic                        176 non-null    float64
 3   Total Van, Pickup, Lorry and Road Tractor Traffic  175 non-null    float64
 4   Total four wheeled Traffic                         158 non-null    float64
 5   Year                                               188 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 10.3+ KB

In [24]:
# Display sum of null values for each column
df.isnull().sum()

Category                                              0
Passenger Car Traffic                                36
Bus and Motor Coach Traffic                          12
Total Van, Pickup, Lorry and Road Tractor Traffic    13
Total four wheeled Traffic                           30
Year                                                  0
dtype: int64

In [29]:
# Printing of unique values per column
df.Category.unique()

array(['Austria', 'Belarus', 'Bulgaria', 'Croatia', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Hungary', 'Ireland', 'Latvia',
       'Lithuania', 'Malta', 'Moldova', 'Monaco', 'Montenegro',
       'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Russian Federation', 'Serbia', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'Ukraine', 'Belgium'], dtype=object)

In [38]:
# Display data distribution
df.loc[df["Year"]==2021].describe()

,Passenger Car Traffic,Bus and Motor Coach Traffic,"Total Van, Pickup, Lorry and Road Tractor Traffic",Total four wheeled Traffic,Year
count,25.000000,29.000000,28.000000,26.000000,31.0
mean,89225.760000,726.413793,19942.500000,107020.653846,2021.0
std,149398.238108,1014.271009,32740.725805,180480.177848,0.0
min,55.000000,3.000000,4.000000,62.000000,2021.0
25%,9393.000000,138.000000,2738.000000,11584.750000,2021.0
50%,32284.000000,324.000000,8275.000000,43019.500000,2021.0
75%,63913.000000,665.000000,16833.750000,78344.750000,2021.0
max,582400.000000,3862.000000,116000.000000,677800.000000,2021.0

In [50]:
df_bus = df[["Year", "Category", "Bus and Motor Coach Traffic", "Total four wheeled Traffic"]]

In [54]:
df_bus_ireland = df_bus.loc[df_bus["Category"]=="Ireland"]

In [60]:
df_bus_ireland.describe()

              Year  Bus and Motor Coach Traffic  Total four wheeled Traffic
count     6.000000                     6.000000                    6.000000
mean   2018.500000                   333.166667                43892.333333
std       1.870829                    57.031278                 4778.960375
min    2016.000000                   260.000000                35435.000000
25%    2017.250000                   285.500000                42218.750000
50%    2018.500000                   345.000000                46279.000000
75%    2019.750000                   379.750000                46676.250000
max    2021.000000                   392.000000                47687.000000